html,
body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #333;
    background: #fff;
}

.content-block.half {
    max-height: 5vh;
    min-height: 0px;
}

/* bav bar */

nav {
    text-align: center;
    user-select: none;
}

ul.nav {
    color: #eaeaea;
    font-weight: 700;
    letter-spacing: .1em;
    text-align: center;
    display: inline-block;
}

ul.nav li {
    display: inline-block;
    font-size: 1rem;
    margin: 0 5px 5px;
    padding: 0;
    border: 2px solid #eaeaea;
    border-radius: 3px;
    text-align: center;
}

li {
    line-height: 1.4;
}

ul.nav li a {
    display: inline-block;
    padding: 6px 8px;
    color: #eaeaea;
    border-color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

ul.nav li:hover {
    background: #eaeaea;
    color: #333;
}

ul.nav li a:hover {
    color: #333;
    text-decoration: none;
}

.nametag {
    text-align: center;
    color: white;
    padding: 6px 8px;
    font-family: inherit;
    user-select: none;
}

div.container-fluid {
    padding: 0px;
    margin: 0px;
}

.nametag h1 {
    color: #fff;
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12vw;
    font-weight: 900;
    height: 80px;
    line-height: 80px;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 20px;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
}

.nametag p.comments {
    font-size: 5vw;
    display: inline-block;
    text-align: center;
}





.spacer {
    height: 10vh;
}

nav ul.top-nav {
    text-align: center;
    margin: 0px;
    display: none;
    user-select: none;
}

nav ul.top-nav li {
    display: inline-block;
    padding-left: 3%;
}

nav ul.top-nav li a {
    text-decoration: underline;
    color: #fff;
}

nav ul.top-nav li a:hover {
    color: rgb(226, 226, 226)
}

.big-heading {
    font-size: 6vw;
    font-weight: bold;
    text-align: center;
}

div.content-block {
    padding-top: 3%;
    text-align: center;
    padding-bottom: 3%;
    margin: 0;
    padding: 3vh 0 3vh 0;
}

div.content-block.dark#header {
    background-image: url(../assets/cartographer.png);
    background-repeat: repeat;
    padding-bottom: 3%;
    user-select: none;
    min-height: 100vh;
}

.center {
    text-align: center;
}

.well h3 a:hover {
    background: #000;
}

.well h3 a {
    text-align: left;
    text-decoration: none;
    color: #fff;
    padding: 6 8px;
    border-radius: 3px;
    background: #333;
    color: #fff;
    border-radius: 3px;
    font-size: 4vw;
    padding: 6px 10px;
    font-family: Source Code Pro, monospace;
    font-weight: 500;
    text-decoration: none;
    display: block;
    border: none;
    user-select: none;
}

div.well{
    padding-left: 20px;
    padding-right: 20px;
}

.left {
    text-align: left;
}

.well-text {
    text-align: left;
}

.well-text p {
    margin: 2vh 0px 2vh 5px;
}

.well-text code {
    font-family: "Source Code Pro", monospace;
    font-size: .75rem;
    background: #fff;
    border-radius: 3px;
    padding: 3px 5px;
    line-height: 20px;
    color: #333;
}

.content-block p.comments{
    margin: 2vh 0 2vh 0;
    font-size: 3.5vw;
}


div.content-block.light {
    color: #333;
    background: #fff;
    margin: 0;
}

div.content-block.light div.well {
    color: #fff;
}

div.content-block.light div.well-text {
    color: #333;
}

div.content-block.dark {
    color: #fff;
    background-image: url(../assets/cartographer.png);
    background-repeat: repeat;
    margin: 0;
}

.parallax {
    /* The image used is from subtlepatterns.com*/
    background-image: url(../assets/cartographer.png);
    /* Full height */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: repeat;
}

code.dark {
    color: white;
    background: none;
    user-select: none;
}   

code {
    user-select: none;
}

a.black-link {
    color: #333;
    text-decoration: underline;
}

a.black-link:hover {
    color: #666;
}

footer {
    color: #fff;
    background: #333;
    margin: 0;
    text-align: center;
    padding-top: 1%;
    padding: 0;
}

footer p {
    font-family: "Source Code Pro", monospace;
    font-size: 0.85em;
    display: inline-block;
    text-align: center;
    margin-right: 3%;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #999;
}

.well p {
    font-size: 3.5vw;
}

/* fixed side nav */

.sidebar {
    z-index: 1;
    height: auto;
    width: 10px;
    position: fixed;
    z-index: 1;
    top: 40%;
    left: 10px;
    background: none;
    overflow-x: hidden;
    color: #fff;
}

.sidebar .bar{
    height: 4vh;
    width: 5px;
    background: #eaeaea;
    margin-bottom: 2px;
}
.title-link{
    text-decoration: none;
    color: inherit;
}

.title-link:hover{
    text-decoration: none;
    color: inherit;
}
.content-block.half {
    max-height: 50%;
    min-height: 0px;
}

p.contact {
    color: black;
    font-size: 36px;
}

p.contact a {
    color: black;
    font-size: 36px;
}

.sidebar {
    z-index: 1;
    width: 20vw;
    height: 80vh;
}

@media screen and (min-width: 800px) {
    .nametag h1 {
       font-size: 89px;
    }
    .nametag p.comments {
        font-size: 37px;
    }

    .big-heading {
        font-size: 3em;
    }

    .well h3 a {
        font-size: 1.5rem;
    }

    .well p {
        font-size: 16px;
    }

    .well .comments {
        font-size: 16px;
    }
  }
@media screen and (min-width: 500px) {
    h3.center {
        max-width: 5wh;
    }
}