html,
body {
    font-family: "Source Sans Pro", sans-serif;
    background: #fff;
    padding: 0;
    color: #333;
    height: 100%;
}

ul.nav li {
    display: inline-block;
    font-size: 1rem;
    margin: 0 5px 5px;
    padding: 0;
    border: 2px solid #eaeaea;
    border-radius: 3px;
    text-align: center;
}

li {
    line-height: 1.4;
}

ul.nav {
    color: #eaeaea;
    font-weight: 700;
    letter-spacing: .1em;
    text-align: center;
    display: inline-block;
}

ul.nav li a {
    display: inline-block;
    padding: 6px 8px;
    color: #eaeaea;
    border-color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
}

ul.nav li:hover {
    background: #eaeaea;
    color: #333;
}

ul.nav li a:hover {
    color: #333;
    text-decoration: none;
}

nav {
    text-align: center;
}

.nametag {
    text-align: center;
    color: white;
    padding: 6px 8px;
    font-family: inherit;
}

.billboard {
    background-image: url(../assets/cartographer.png);
    background-repeat: repeat;
    height: auto;
    padding-bottom: 3%;
    user-select: none;
}

div.container-fluid {
    padding: 0px;
    margin: 0px;
}

.nametag h1 {
    color: #fff;
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 80px;
    font-weight: 900;
    height: 80px;
    line-height: 80px;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    -webkit-margin-after: 0px;
    -webkit-margin-before: 20px;
    -webkit-margin-end: 0px;
    -webkit-margin-start: 0px;
}

p.comments {
    font-size: 21px;
    display: inline-block;
    text-align: center;
}

.spacer {
    height: 10rem;
}

nav ul.top-nav {
    text-align: center;
    margin: 0px;
    display: none;
}

nav ul.top-nav li {
    display: inline-block;
    padding-left: 3%;
}

nav ul.top-nav li a {
    text-decoration: underline;
    color: #fff;
}

nav ul.top-nav li a:hover {
    color: rgb(226, 226, 226)
}

.big-heading {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

div.content-block {
    padding-top: 3%;
    text-align: center;
    padding-bottom: 3%;
}

.center {
    text-align: center;
}

.well h3 a {
    padding: 6 8px;
    border-radius: 3px;
    background: #333;
    color: #fff;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: 6px 10px;
    font-family: Source Code Pro, monospace;
    font-weight: 500;
    text-decoration: none;
    display: block;
    border: none;
    user-select: none;
}

.well h3 a:hover {
    background: #000;
}

.well h3 a {
    text-align: left;
    text-decoration: none;
    color: #fff;
}

.left {
    text-align: left;
}

.well-text {
    text-align: left;
}

.well-text p {
    margin: 30px 0px 30px 5px;
}

.well-text code {
    font-family: "Source Code Pro", monospace;
    font-size: .75rem;
    background: #fff;
    border-radius: 3px;
    padding: 3px 5px;
    line-height: 20px;
    color: #333;
}

.comments.content-block {
    margin-bottom: 5%;
    margin-top: 3%;
}

div.content-block.light {
    color: #333;
    background: #fff;
}

div.content-block.light div.well {
    color: #fff;
}

div.content-block.light div.well-text {
    color: #333;
}

div.content-block.dark {
    color: #fff;
    background-image: url(../assets/cartographer.png);
    background-repeat: repeat;
}

.parallax {
    /* The image used is from subtlepatterns.com*/
    background-image: url(../assets/cartographer.png);
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: repeat;
}

code.dark {
    color: white;
    background: none;
    user-select: none;
}

code {
    user-select: none;
}

a.black-link {
    color: #333;
    text-decoration: underline;
}

a.black-link:hover {
    color: #666;
}